<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div id="login-form-template">
    <div>
        <label>Phone:
            <input type="text" id="phone">{{phone}}
        </label>
    </div>
    <div>
        <label>Password:
            <input type="password" id="password">{{password}}
        </label>
    </div>
    <input type="submit" value="Login" onclick="login()">
</div>
</body>

<script type="application/javascript" src="/javascripts/login.js"></script>
</html>